body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root{
  --primaryColor: #404258;
  --secondaryColor: #474E68;
  --tertiaryColor: #50577A;
  --quaternaryColor: #6B728E;
  --accentColor: #A1A7B3;
  --backgroundColor: #E0E2EB;
  --textColor: #8F93A2;
}

@import '@fortawesome/fontawesome-free/css/all.css';